<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
<!--  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='calibration_style.css') }}">-->

  <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/styles1.css">
<!--  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">-->

</head>
<body>
  <div class="card bg-secondary text-white"  style="width: 25rem;">
    <div class="container">
      <h1> Calibration window</h1>      
      <p>Use buttons below to calibrate the stepper motor </p>
      <div class="alert alert-info">
        <strong>Information:</strong> <span id="info_message">Please move window blinds to horizontal position.</span>
        <br>
        Use '+' to close and '-' to open:
      </div>


      <br>
      <div class="btn-group">
        <button type="button" class="btn btn-success bbb" id="btn_plus" >+</button>
        <button type="button" class="btn btn-success bbb" id="btn_minus" >-</button>
      </div> <br><br>
      <p class="font-weight-bolder" id="scale_value">Choose scale:</p>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="radio" name="options" id="btn_scale_1" autocomplete="off" > 1
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="options" id="btn_scale_2" autocomplete="off"> 10
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="options" id="btn_scale_3" autocomplete="off"> 100
        </label>


      </div>  <br>

      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> Active
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option2" autocomplete="off"> Radio
        </label>
        <label class="btn btn-secondary">
          <input type="radio" name="options" id="option3" autocomplete="off"> Radio
        </label>
      </div>
      <div class="btn-group" style="margin:20px 0" >
        <button type="button" class="btn btn-dark step" id="previous" >previous step</button>
        <button type="button" class="btn btn-dark step" id="next" >next step</button>
      </div>
    </div>
  </div>
<!--  <script src="assets/js/jquery.min.js"></script>-->
<!--  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>-->
  <script src="../static/calibration.js"></script>
<!--  <script src="{{ url_for('static', filename='calibration.js') }}"></script>-->
</body>
</html>